.product-details {
  padding: 20px;
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.product-details h2 {
  margin-bottom: 20px;
}

.buy-button {
	display: flex;
	justify-content: center;
	align-items: center;
  color: white;
  padding: 10px;
}

.buy-button button {
	background-color: #0088cc;
	color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.buy-button button:nth-child(2) {
	background-color: #25A2E0;
	border-radius: 50%;

}

.buy-button button:nth-child(3) {
	background-color: #25D366;
}

.buy-button button:nth-child(4){
	border-radius: 50%;
	background: hsla(220, 100%, 60%, 1);

background: linear-gradient(45deg, hsla(220, 100%, 60%, 1) 0%, hsla(343, 98%, 65%, 1) 67%);

background: -moz-linear-gradient(45deg, hsla(220, 100%, 60%, 1) 0%, hsla(343, 98%, 65%, 1) 67%);

background: -webkit-linear-gradient(45deg, hsla(220, 100%, 60%, 1) 0%, hsla(343, 98%, 65%, 1) 67%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3577FF", endColorstr="#FD5183", GradientType=1 );
}

.buy-button button svg {
	width: 23px;
	height: 23px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.back {
	position: relative;
	left:-40%;
}

.back svg {
	width: 80px;
	height: 30px;
}

.buy-button a svg {
	width: 23px;
	height: 23px;
}


@media (max-width: 450px) {
  .buy-button a svg {
		width: 15px;
		height: 15px;
	}
	.buy-button button svg {
		width: 15px;
		height: 15px;
	}
}
.product-infos1 {
	width: 100%;
}




