* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
	background: linear-gradient(to bottom, white, silver);
	background-repeat: no-repeat;
	background-size: contain;
}

.App {
  text-align: center;
  border: 1px solid;
  width: 100%;
}
